<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".MyMoneyApplication"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appRoundIcon}"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMoney.Green">
        <activity
            android:name=".view.currency.activity.CurrencyConverterActivity"
            android:exported="false"
            android:label="@string/currency_converter" />
        <activity
            android:name=".view.money.activity.file.generator.GenerateFileActivity"
            android:exported="false"
            android:label="@string/generate_file" />
        <activity
            android:name=".view.money.activity.chart.ChartActivity"
            android:exported="false"
            android:label="@string/chart" />
        <activity
            android:name=".view.money.activity.MoneyHostActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@style/Theme.MyMoney.Green.NoActionBar"
            tools:targetApi="24" />
        <activity
            android:name=".view.account.activity.TermsAndConditionsActivity"
            android:exported="false"
            android:label="@string/terms_and_conditions_title" />
        <activity
            android:name=".view.account.activity.ChangePasswordActivity"
            android:exported="false"
            android:label="@string/change_password" />
        <activity
            android:name=".view.account.activity.AccountActivity"
            android:exported="false"
            android:label="@string/account" />
        <activity
            android:name=".view.app.about.activity.AboutActivity"
            android:exported="false"
            android:label="@string/about" />
        <activity
            android:name=".view.app.themes.activity.ThemesActivity"
            android:exported="false"
            android:label="@string/themes" />
        <activity
            android:name=".view.app.settings.activity.SettingsActivity"
            android:exported="false"
            android:label="@string/settings" />
        <activity
            android:name=".view.app.offline.activity.OfflineActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.activity.CreateAccountActivity"
            android:exported="false"
            android:label="@string/create_account" />
        <activity
            android:name=".view.login.activity.RecoverPasswordActivity"
            android:exported="false"
            android:label="@string/recover_password" />
        <activity
            android:name=".view.login.activity.ForgotPasswordActivity"
            android:exported="false"
            android:label="@string/recover_password" />
        <activity
            android:name=".view.login.activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>